#!/usr/bin/env python
# -*- coding: utf-8 -*-

###########################################################################################################
# Základní parametry
###########################################################################################################
# Přihlašovací jméno a heslo:
_username_ = ''
_password_ = ''
# ID zařízení:
_device_id_ = ''
# Adresář pro vytvářené soubory a případného vlastního skriptu:
# Pozor! Je třeba zadat absolutní cestu!
_playlist_path_ = ''
# Jméno souboru stahovaného playlistu
_playlist_src_ = 'o2tv.generic.m3u8'
# Jméno souboru vytvářeného playlistu
_playlist_dst_ = 'o2tv.playlist.m3u8'
# Jméno souboru skriptu streameru
_playlist_streamer_ = 'streamer.sh'
# Povel pro spuštění ffmpeg
_command_ffmpeg_ = 'ffmpeg'
# Použití streameru
# 0 - bude použit vygenerovaný skript se jménem uloženým v _playlist_streamer_
# 1 - bude použit vlastní script se zadaným jménem. Skript musí být umístěn v cestě uložené v _playlist_path_!
_myscript_ = 0
# Jméno souboru vlastního skriptu streameru - jméno nesmí být shodné se jménem uloženým v _playlist_streamer_!
_myscript_name_ = 'myscript.sh'
# Kvalita streamu
# 0 - pro nižsí kvalitu, zpravidla (maximálně) 1280x720
# 1 - pro vyšší kvalitu, zpravidla 1920x1080
_stream_quality_ = 1
###########################################################################################################

###########################################################################################################
# Parametry vytvářeného playlistu
###########################################################################################################
# Typ playlistu
# 1 - pro IPTV Simple Client
# 2 - pro Tvheadend
# 3 - pro Tvheadend@
_playlist_type_ = 3
# Parametry v řádku EXTINF
# Parametr tvg_name - používá se pro Typ playlistu = 1
# 0 - nepoužije se
# 1 - přebírá se ze jména kanálu
_channel_epgname_ = 0
# Parametr tvg_id - používá se pro Typ playlistu = 1, 2, 3
# 0 - nepoužije se
# 1 - přebírá se ze jména kanálu
_channel_epgid_ = 0
# Parametr group-titles - používá se pro Typ playlistu = 1, 2, 3
# 0 - nepoužije se
# 1 - Použije se text: O2TV
# 2 - použije se text z proměnné _channel_groupname_
_channel_group_ = 0
_channel_groupname_ = ''
# Parametr tvg_logo - používá se pro Typ playlistu = 1, 2, 3
# Typ loga, případně cesta pro umístění souborů slogem
# 0 - nepoužije se
# 1 - přebírá se ze zdroje
# 2 - místní umístění, pro cestu se použije obsah proměnné _channel_logopath_
# 3 - internetové umístění, pro url se použije obsah proměnné _channel_logourl_
# 4 - logo od @marhycz na Github
_channel_logo_ = 0
_channel_logopath_ = ''
_channel_logourl_ = ''
# Konvence jména souboru - používá se pro Typ loga = 2 a 3
# 0 - nazevsouboru.png
# 1 - nazevsouboru.jpg
# 2 - Název souboru.png
# 3 - Název souboru.jpg
_channel_logoname_ = 0
# Kvalita @marhycz loga - používá se pro Typ loga = 4
# 0 - 640x640
# 1 - 1024x1024
_channel_logogithub_ = 0
###########################################################################################################

###########################################################################################################
# Samples of messages in playlist.log
###########################################################################################################
# RRRR-MM-DD HH:MM:SS Download done with result EXIT:AuthenticationError , DOWNLOADED:-1, SKIPPED:-1
# - přihlášení k účtu neproběhlo korektně, zkontrolujte _username_ a _password_
# - hodnoty -1 u stažených/přeskočených kanálů znamenají, že se stahování vůbec nespustilo
# RRRR-MM-DD HH:MM:SS Download done with result EXIT:NoPurchasedServiceError , DOWNLOADED:-1, SKIPPED:-1
# - seznam služeb vašeho účtu je prázdný
# - pravděpodobně nemáte zaplacenou vámi objednanou sližbu
# RRRR-MM-DD HH:MM:SS Download done with result EXIT:TooManyDevicesError , DOWNLOADED:-1, SKIPPED:-1
# - překročili jste limit 4 identifikovaných a registrovaných zařízení
# - upravte počet registrovaných zařízení na https://www.o2tv.cz/sprava-zarizeni/
# RRRR-MM-DD HH:MM:SS Download done with result EXIT:OK , DOWNLOADED:11, SKIPPED:0
# - generace playlist proběhla v pořádku
# - SKIPPED je počet kanálů, pro které v době stažení playlist nebyl k dispozici žádný stream
###########################################################################################################
